input.page_edit_crud,
textarea.page_edit_crud {
  width: 90%;
  margin: 30px auto;
  padding: 10px 0;
  display: block !important;
  left: 0;
  position: relative;
  border: 1px solid #27447e
}
.page_blog_crud{
  width: 80%;
}
.testeee input {
  margin: 20px 0;
  font-size: 18px;
}
.btn_edit {
  margin: 0 auto;
  display: flex;
  font-size: 16px;
  color: #fff;
  border: none;
  background: #27447e;
  padding: 7px 14px;
}
.input_file_img{
  left: 5%;
  position: relative;
}
