.footer_ {
  width: 100%;
  text-align: center;
  background-color: #27447e;
  padding: 10px;
  color: #fff;
  font-size: 0.75rem;
}
@media screen and (max-width: 960px) {
  .footer_ {
    font-size: 11px;
  }
}
@media screen and (max-width: 539px) {
  .footer_ {
    font-size: 9px;
  }
}
